<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>

        <p class="hidden">
           Issue Code: <%= data.code %> 
        </p>
    
        <h3 class="hidden">
            Malfunction: <%= data.diagnosis %> 
        </h3>
    
        <h4 class="hidden">
            Date of Malfunction Diagnosis: <%= data.date %> 
        </h4>

        <form action="/editMalfunctionList/<%= data.id %>?_method=PUT" method="POST">

            <label for="name"> Name </label> <br>
            <input name="code" value="<%= data.code %>"> <br>


            <label for="diagnosis"> Issue</label> <br>
            <textarea name="diagnosis" cols="30" rows="5"><%= data.diagnosis %></textarea> <br>

            <label for="text"> Date </label> <br>
            <input name="date" value="<%= data.date%>"> <br>

            <button type="submit"> Update </button>


        </form> <br>

        <form class="deleteForm" action="/editMalfunctionList/<%= data.id %>?_method=DELETE" method="POST">
            <button type="submit" class="ud_btn">X</button>
        </form>

        



    </main>



</main>
    
</body>
</html>